    <style>
        
        .custom-navbar {
            background-color: #425969 !important;
        
        }
        .icone{
            color: #F5D987 !important;
            font-size: 2rem !important;
            margin-right: 2rem !important;
        }
        .s-icone{
           color: #F5D987 !important;
            font-size: 2rem !important; 
        }
        .navlinks{
            color: #F5D987 !important;
            text-transform: uppercase;

        }
        .footlinks{
            color: #F5D987 !important;
            text-transform: uppercase;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light custom-navbar  ">
        <div class="container-fluid ">
            <a class="navbar-brand" href="{{ path('app_main') }}">
                <img src="{{ asset('images/_LogoVentalis.jpg.webp') }}" alt="Logo" width="120" height="60">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link  navlinks" aria-current="page" href="{{ path('app_main') }}" >accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navlinks" href="#">à propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navlinks" href="#">contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navlinks" href="{{ path('app_boutique') }}">boutique</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link navlinks" href="{{ path('app_admin_index') }}">Administration</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_EMPLOYEE') %}
                        <li class="nav-item">
                            <a class="nav-link navlinks" href="{{ path('app_intranet') }}">Intranet</a>
                        </li>
                    {% endif %}
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link navlinks" href="{{ path('user_edit')}}">Mon Profil</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="d-flex mx-4">
                    {% if app.user %}
            
                    <a  href="{{ path('app_logout') }}">
                        <i class="bi bi-box-arrow-right icone"></i> 
                    </a>
                    {% else %}
                    <a href="{{ path('app_login') }}" >
                        <i class="bi bi-person-circle icone"></i>
                    </a>
                    {% endif %}
                    <a href="{{ path('cart_index') }}" >
                        <i class="bi bi-cart icone" ></i>
                    </a>
                </form>
            </div>
        </div>
    </nav>