{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Votre Panier</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for element in data %}
                    <tr>
                        <td>{{ element.product.name }}</td>
                        <td>{{ element.product.price }} €</td>
                        <td>{{ element.quantity }}</td>
                        <td>{{ element.quantity * element.product.price }} €</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Actions">
                                <a href="{{ path('cart_add', { id: element.product.id }) }}" >
                                    <i class="bi bi-plus-lg icone"></i>
                                </a>
                                <a href="{{ path('cart_remove', { id: element.product.id }) }}" >
                                    <i class="bi bi-dash-lg icone"></i>
                                </a>
                                <a href="{{ path('cart_delete', { id: element.product.id }) }}" >
                                    <i class="bi bi-trash icone"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Votre panier est vide</td>
                    </tr>         
                {% endfor %}    
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-end"><strong>Total</strong></td>
                    <td>{{ total }} €</td>
                    <td>
                        <a href="{{ path('cart_empty') }}" class="btn buttondetails btn-sm btn-danger">Vider</a>
                        <a href="{{ path('app_stripe') }}" class="btn button btn-sm button">Valider Commande</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
{% block stylesheets %}
<style>

.button {
        background-color: #F8CF40;
        border: none;
        padding: 15px 30px;
        font-size: 1.2em;
        font-family: "GaretHeavey";
        border-radius:8%;
        text-align: center;
    }
  .buttondetails {
    background-color: #283A2E;
        border: none;
        padding: 15px 30px;
        font-size: 1.2em;
        font-family: "GlacialIndifferenceRegular";
        border-radius:8%;
        color: white;
  }
</style>
{% endblock %}
{% endblock %}
