{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
  .navlinks{
            color: #F5D987 !important;
            background-color: #425969 !important;
        }
</style>

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ asset('images/slide1.jpg') }}" class="d-block w-100" alt="slide1">
    </div>
    <div class="carousel-item">
      <img src="{{ asset('images/slide2.jpg') }}" class="d-block w-100" alt="slide2">
    </div>
    <div class="carousel-item">
      <img src="{{ asset('images/slide3.jpg') }}" class="d-block w-100" alt="slide3">
    </div>
    <div class="carousel-item">
      <img src="{{ asset('images/slide4.jpg') }}" class="d-block w-100" alt="slide4">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card text-center mb-5 mt-5" style="width: 100%;">
        <div class="card-body">
          <p class="card-text">
            L'entreprise Ventalis Home Decor est spécialisée dans la vente de décoration de maison artisanale, 
            offrant une gamme variée de produits uniques et faits main qui apportent une touche d'authenticité à chaque maison.
            Soucieuse de l'environnement, notre entreprise s'engage quotidiennement dans une démarche écologique rigoureuse. 
            Nous privilégions l'utilisation de matériaux durables et recyclés, et collaborons avec des artisans locaux pour réduire notre empreinte carbone.
            De plus, nous adoptons des pratiques de production respectueuses de l'environnement, telles que l'utilisation de teintures naturelles et la minimisation des déchets.
            Chaque achat chez Ventalis Home Decor contribue à soutenir une économie circulaire et à promouvoir des valeurs éthiques et écologiques.
          </p>
          <a href="{{ path('app_boutique') }}" class="btn  navlinks">Voir nos Produits</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
