{% extends 'base.html.twig' %}

{% block title %}Liste des catégories
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Catégorie : {{ categorie.name }}</h1>
		<div class="row">
		{% for produit in categorie.productid %}
				{% if produit.stock > 0 and produit.isVerified %}      
				<div class="col-4">
					<div class="card">
						{% set image = produit.imageid|first %}
                        {% if image %}
                            <img src="{{ asset(image.path) }}" class="card-img-top" alt="{{ produit.name }}">
                        {% else %}
                            <img src="{{ asset('images/slide1.jpg') }}" class="card-img-top" alt="{{ produit.name }}">
                        {% endif %}
						<div class="card-body">
							<h5 class="card-title">{{produit.name}}</h5>
							<p class="card-text">{{produit.description}}</p>
							<p class="card-text">{{produit.price}}€</p>
							<a href="{{ path('cart_add',{ id:produit.id})}}" class="btn">Ajouter au panier</a>
						</div>
					</div>
				</div>
				{% endif %}
		{% endfor %}
		</div>

	</div>
{% endblock %}

